<div class=" table p-2 rounded mt-3 ">
    <h2>Pacientes</h2>
    {{#if table}}
    <table class="table table-striped mt-3 mx-auto">
        <thead>
            <tr>
                <th scope="col">Prontuário</th>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {{#each pacientes}}
            <tr>
                <th scope="row">{{prontuario}}</th>
                <td>{{nome}}</td>
                <td>{{cpf}}</td>
                <td>
                    <div class="row">
                        <div class="col-6 col-md-4">
                            <form action="/editar" method="post">
                                <input type="hidden" name="cpf" value="{{cpf}}">
                                <button class="btn btn-info w-100">Editar</button>
                            </form>
                        </div>
                        <div class="col-6 col-md-4">
                            <button class="btn btn-danger w-100">Deletar</button>
                        </div>
                        <div class="col-6 col-md-4">
                            <button class="btn btn-outline-light w-100" data-bs-toggle="modal" data-bs-target="#marcar_{{cpf}}">
                                <img src="./img/consulta-marcar.svg" alt="">
                            </button>
                        </div>
                    </div>
                </td>

            </tr>
            <!-- Modal Consulta-->
            <div class="modal fade " id="marcar_{{cpf}}" data-bs-backdrop="static" tabindex="-1"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered ">
                    <div class="modal-content modalContent">
                        <div class="modal-header">
                            <h6 class="modal-title" id="exampleModalLabel">DEFINA A DATA DE CONSULTA</h6>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="d-flex flex-column align-items-center">
                                <h5 class="p-3">MARCAR CONSULTA</h5>
                                <input type="date" name="dateConsult" id="dateConsult">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-danger"
                                data-bs-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-success" data-bs-target="#confirmação_{{cpf}}" data-bs-toggle="modal">Confirmar Consulta</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Consulta Confirmação-->
            <div class="modal fade" id="confirmação_{{cpf}}" aria-hidden="true"
                aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content modalContent">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalToggleLabel2">CONFIRMAÇÃO</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            CONSULTA CONFIRMADA COM SUCESSO!
                            E-mail enviado para {{nome}}.
                            <img src="/img/consulta-confirmada.svg">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Confirmado</button>
                        </div>
                    </div>
                </div>
            </div>

            {{/each}}

        </tbody>
    </table>
    {{else}}
    <div class="card mt-4">
        <div class="card-body">
            Nenhum dado encontrado!
        </div>
    </div>
    {{/if}}

</div>